/frontend/node_modules
/frontend/dist

/backend/venv
/backend/data
/backend/app/__pycache__
/backend/app/*.pyc
/backend/venv
/backend/app/temp_exports
/backend/app/templates
/backend/node_modules

/backend/app/database.py
/backend/app/db_backups